@use "../../styles/helpers" as *;

.posts {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    position: relative;
    gap: var(--space-6);

    .pagination {
        gap: var(--space-6);

        &_content {
            gap: 0;
        }
    }

    .pagination_content > .posts_item:first-child,
    > .posts_item:first-child {
        padding-top: 0;
    }

    .posts_loader{
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
    };
}
