@use '../../../styles/helpers' as *;
@use '../buttonSizes' as *;

.cancel_button {
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: var(--cancel-button-primary-color);
    @include button-sizes;

    @include hover {
        background: var(--cancel-button-hover-background-color);
    }
}

.cancel_button_icon {
    flex-shrink: 0;
}

.cancel_button_active {
    color: var(--cancel-button-secondary-color);
    background: var(--cancel-button-hover-background-color);
}

.cancel_button_disabled,
.cancel_button_loading {
    cursor: not-allowed;
    opacity: 0.55;

    @include hover {
        background: transparent;
    }
}
