@use "../../styles/helpers" as *;

.full-container{
    width: 100%;
    min-width: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;


    @include screen() {
        padding: 0 8px;
    }
}