@use "../../../styles/helpers" as *;

.pagination{
    display: flex;
    flex-direction: column;

    &_content {
        display: flex;
        flex-direction: column;
    }

    &_panel {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 999px;
            gap: 4px;
            height: 40px;
            width: 40px;
    
            p {
                user-select: none;
            }
    
            @include hover {
                background-color: var(--section-item-hover-background-color);
            }
    
            svg {
                color: var(--text-color);
                width: 16px;
                height: 16px;
            }
        }
        
        .pagination_navigation_button {
            width: auto;
            padding: 12px;
            border-radius: 8px;
            
            p {
                line-height: 2;
                user-select: none;
            }
        }
    
        .pagination_active {
            background: var(--section-item-hover-background-color);
        }
    }
}
