@mixin use-transition-surface() {
    transition:
        background-color 0.3s ease,
        background 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}

@mixin use-transition-text() {
    transition: color 0.3s ease;
}

@mixin use-transition() {
    transition:
        background-color 0.3s ease,
        background 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease,
        color 0.3s ease;
}

@mixin screen($size : 'sm') {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover:not(.sceleton) {
            @content;
        }
    }
}
