@use "../../styles/helpers" as *;

.no_posts{
    font-size: 64px;
    margin: 100px auto;
    align-content: center;
    font-weight: bold;
    text-align: center;
    color: var(--background-text-color);
    user-select: none;

    @include screen() {
        font-size: 48px;
        margin: 50px auto;
    }
}