@use "../../../styles/helpers" as *;

.input_field_wrapper {
    position: relative;
    width: 100%;
}

.input_field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--text-md);
    padding: 8px 12px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--input-outline-color);
    border-radius: 8px;
    color: var(--input-text-color);
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    resize: none;

    @include screen() {
        font-size: var(--text-lg);
    }

    &.confirmed {
        &:focus {
            border: 1px solid var(--input-outline-color);
        }
    }

    &::selection {
        color: var(--text-selection-color);
        background-color: var(--text-selection-background-color);
    }

    &:focus {
        border: 1px solid var(--input-outline-active-color);
    }

    &.input_field_blocked,
    &:disabled {
        cursor: not-allowed;
        color: var(--light-text-color);
        border-color: var(--input-outline-color);
        opacity: 0.55;

        &:focus {
            border-color: var(--input-outline-color);
        }
    }

    &[type="search"]::-webkit-search-decoration,
    &[type="search"]::-webkit-search-cancel-button,
    &[type="search"]::-webkit-search-results-button,
    &[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: none;
        appearance: none;
    }

    &::placeholder {
        font-size: var(--text-md);
        color: var(--input-placeholder-color);
        transition: .3s;
    }
}

.input_field_wrapper_blocked {
    cursor: not-allowed;
}

.incorrect_field {
    border: 1px solid red !important;
}


.input_confirmed_icon{
    color: #057905;
    height: 16px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
}